* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    background-color: #17252A;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
}

.form-container {
    margin: auto;
    background-color: #4D4D4D;
    min-width: 600px;
    min-height: 800px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-input {
    padding: 12px;
    width: 450px;
    background-color: #454545;
    border: #3D3D3D solid 1px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.submit-btn {
    margin: 20px;
    padding: 6px;
    cursor: pointer;
    background-color: #6B6B6B;
    color: black;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    width: 220px;
    height: 50px;
    border: black solid 1px;
}

.submit-btn:hover{
    background-color: #454545;
}

.day-wrapper {
    display: flex;
    justify-content: center;
}

.day {
    color: white;
}

.inclosing {
    margin: auto 10px auto 10px;
    font-size: 50px;
    padding-bottom: 5px;
    font-weight: 100;
    color: #212121;
    cursor: pointer;
}

.toggle-wrapper {
    display: flex;
    justify-content: space-around;
}

.toggle-list {
    cursor: pointer;
}

.todo-navbar {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: right;
}

.sign-in-wrapper {
    margin: auto;
}

.sign-out{
    font-size: 15px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

